
{% include head.html %}

{% include header.html %}

<main id="content">

  <header class="color-bg">
    <div class="container">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </header>

    <main id="main" class="site-main" role="main">
      {{ content }}
    </main><!-- #main -->

</main>

{% include footer.html %}
