---
permalink: /contact/
title: "Contact"
description: "Send me an email."
---

<div class="alt-bg">
	<div class="contact-page container">

		<h2>Get an Estimate. Ask Questions. Hire me.</h2>

		<hr>

		<div class="row">

			<div class="col-1 pull-right">
				<p>You can send me an email at <strong>{{ site.email }}</strong> or use the form, and I'll get back to you.</p>
				<p><strong>Estimate.</strong> If you have an idea for a website and would like a sense of how much it might cost, please provide as many relevant details, including mockups or example sites to give the best idea of what you want.</p>
				<p><strong>Questions.</strong> Curious about selling online? Want to know if I can do something specific? Have a need for your business, but not sure which tech can help you?</p>
				<p><strong>Hire.</strong> I work excellent as part of a team. If you need an experienced developer, please tell me about your project and the kind of assistance you need.</p>
			</div>

			<div class="col-1 mobile-space-top">

				<form id="contact-form" name="contact" accept-charset="UTF-8" enctype="multipart/form-data" method="post" data-netlify="true">


					<label for="name">Name</label>
					<input name="name" type="text" value="" maxlength="255" tabindex="1" />

					<label for="email">Email</label>
					<input required name="email" type="text" value="" maxlength="255" tabindex="2" />

					<label for="message">Message</label>
					<textarea name="message" required tabindex="3" ></textarea>

					<input name="submit" type="submit" value="Submit" />    
					
				</form>

			</div>
		</div>
	</div>
</div>
