

#animation-container {
	
	position: relative;
	overflow: hidden;

	// Pulls it up under nav
	top: -70px;

	// Pulls up content below to compensate
	margin-bottom: -70px;
	padding-top: 100px;

	// May want to adjust JS if changing this
	height: 400px;
	width: 100%; 
	text-align: center;
	text-shadow: 1px 1px 0px $color-dark;

	h1 {
		font-size: $font-size-subtitle;
		line-height: 1.1;
		letter-spacing: 0.3px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
		margin: 0;
		line-height: 1.8;
		letter-spacing: 0.1px;
		font-weight: 400;
	}

	.button {
		margin: $tightness auto;
		background-color: transparent;
		border: $line-size solid $color-white;
	}

	canvas {
		position: absolute;
		left: 0;
		top: -100px;
		z-index: 10;
	}

	.content {
		z-index: 50;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		padding: $tightness * 2;
		padding-top: 0;
		box-sizing: border-box;
	}

} // #animation-container


#hex-container {
	user-select: none;
	position: relative;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		animation-name: spin;
		animation-duration: 10000ms;
		animation-delay: 2500ms;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out; 
	}
}



.display-column {
	margin-bottom: $tightness*2;
	padding: 0 $tightness/2;

	h2,h3, h4 {
		margin-top: 0;
		line-height: 1.3;
	}
	.icon {
		font-size: 72px;
		line-height: 1;
	}
	p {
		font-size: $font-size-small;
		margin: 0;
		margin-bottom: $tightness/2;
		font-weight: 400;
	}
}

@media ($break-sm-up) {
	.display-column {
		margin-bottom: 0;
	}
}



// Now animating with CSS for better performance than JS canvas
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@media ($break-sm-up) {
	#animation-container {
		padding-top: 120px;

		h1 {
			font-size: $font-size-title;
			letter-spacing: 0.5px;
		}

		p {
			font-size: 20px;
		}

		.button {
			margin: ($tightness*2) auto;
		}

	}
}

@media ($break-md-up) {
	#animation-container {

		h1 {
			font-size: $font-size-xl;
		}
		p {
			font-size: $font-size-big;
		}
	}
}