
.project-previews {

	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	//background-color: $color-alt;
	max-width: $max-width;
	margin: auto;
	margin-top: $tightness;


	.preview {
		flex: 1 1 100%;
		max-width: 500px;
		//flex: 1 0;
		margin-bottom: $tightness;
		text-align: center;
		padding: $tightness;
		background-color: $color-alt;
		//margin-right: $tightness;
		border-radius: $border-radius;
		margin: $tightness;
		margin-top: 0;



		&:last-child {
			//margin-right: 0;
			//margin-bottom: 0;
		}

	}


	.text-container {
		font-size: $font-size-small;
		line-height: $font-size-small;

		p {
			padding: 0 $tightness;
			margin: 0;
		}
	}

	.entry-title {
		margin: 0;
		margin-bottom: $tightness;
		font-size: $font-size-big;
		line-height: $font-size-big;
	}

}


.gallery {

	.image {
		margin-bottom: $tightness;
	}
	
	.img-container:nth-child(1n+5) {
		display: none;
	}
}

.show-more {
	font-size: 42px;
	font-weight: 300;
	padding-bottom: 20px;
	display: inline-block;
}


.img-container {
	margin: 0;
	//margin-bottom: $tightness;
	display: block;

	.image {
		display: block;
		position: relative;
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		border-radius: $border-radius;

	}
}



.portfolio-content {

	h2 {
		margin: 0;
		margin-bottom: $tightness;
	}

	h3 {
		margin-top: $tightness * 2;
		margin-bottom: $tightness;
	}

}


.sidebar {

	margin-top: $tightness;

	h2, h3, h4 {
		margin: 0;
		margin-bottom: $tightness;
	}
}


@media ($break-sm-up) {
	.project-previews {
		.preview {
			flex: 1 1 35%;

			&:nth-child(even) {
				margin-left: 0;
			}
			//margin-right: 0;
		}
	}
}

