---
permalink: /ictero/
title: "Ictero Medical"
description: "Taking advantage of the new Gutenberg editor in WordPress, this site was made with both speed and ease-of-use in mind."
order: 1
recent: true
layout: "portfolio"
image: "/assets/img/portfolio/ictero/header.jpg"
gallery:
 - img: "/assets/img/portfolio/ictero/header.jpg"
 - img: "/assets/img/portfolio/ictero/difference.jpg"
 - img: "/assets/img/portfolio/ictero/gallstones.jpg"
 - img: "/assets/img/portfolio/ictero/contact.jpg"
 - img: "/assets/img/portfolio/ictero/how.jpg"
 - img: "/assets/img/portfolio/ictero/mobile-menu.jpg"
 - img: "/assets/img/portfolio/ictero/mobile-page.jpg"
 - img: "/assets/img/portfolio/ictero/problem.jpg"
 - img: "/assets/img/portfolio/ictero/solution.jpg"

---


<h2>Website</h2>
<p><a href="https://icteromedical.com/" target="_blank" rel="noopener noreferrer">https://icteromedical.com/</a></p>

<p>Site is running great in production. Live load speeds are fantastic, coming in at <strong>less than 1 second to load completely</strong> as of March 2020.</p>

<!-- <p><a href="https://gtmetrix.com/reports/icteromedical.com/aWrS1fwK" target="_blank">https://gtmetrix.com/reports/icteromedical.com/aWrS1fwK</a></p> -->

<h3>About the Tech</h3>

<p>With this site we took full advantage of some new technology - <a href="https://wordpress.org/gutenberg/" target="_blank" rel="noopener noreferrer">the new WordPress editor Gutenberg</a> allows for a pleasant visual editing experience while letting the code stay nice and lean. By using this system and keeping plugins to a minimum we were able to build something that was not only easy to use, but also making it load much faster than most WordPress sites can manage.</p>

<h3>My Role in this Project</h3>

<p>I was the sole developer responsible for this project and built it all from the ground up. A designer handed off the completed design in a sketch file, which I worked from to construct the page and styling.</p>

<p>There were two main considerations for this client: first was fast load times, and second was ease-of-use for non-technical people to be able to update the website on their own. While Gutenberg lacks the polish of longer-running visual page building tools, a demonstration showed it could do the job dependably - letting us take a big boost in performance.</p>
