---
permalink: /littlegreenlight/
title: "LittleGreenLight"
description: "Every website needs a little attention after launch, we helped keep things running smooth and making it better along the way."
recent: true
layout: "portfolio"
order: 6
image: "/assets/img/portfolio/lgl/lgl-thumb.jpg"
gallery:
 - img: "/assets/img/portfolio/lgl/lgl-home.jpg"
 - img: "/assets/img/portfolio/lgl/lgl-team.jpg"
 - img: "/assets/img/portfolio/lgl/lgl-form.jpg"
 - img: "/assets/img/portfolio/lgl/lgl-search.jpg"
---

<h2>Website</h2>
<p><a href="https://www.littlegreenlight.com/" target="_blank" rel="noopener noreferrer">https://www.littlegreenlight.com/</a></p>


<h3>About the Tech</h3>

<p>This site was built on WordPress using the visual page builder <a href="https://www.wpbeaverbuilder.com/" target="_blank" rel="noopener noreferrer">Beaver Builder</a> as well as custom theming.</p>

<p>The website was also connected to a third party service using an API. There were no existing plugins to work with this service so I created the functionality from scratch. This required two parts: PHP to manage secret keys and keep them safe while getting data from the service, and javascript on the front end to bring that data into the browser.</p>


<h3>My Role on this Project</h3>

<p>While I did not create this site initially, I helped to add new features and make improvements that touched on every page.</p>

<p>In addition to general site maintenance I was responsible for taking care of many things: Building out an interface for a third party API; Upgrading the blog search; Making SEO improvements; Creating a new registration form; Deploying changes to production; Keeping plugins up to date; Performing quality assurance testing to make sure everything was looking great. </p>


<p>SEO was one area that we managed to make many improvements to. Using modern tools I found issues in both the URL structure and HTML tags; and explained to the team both the cause of these and why they mattered to our ranking. They approved my plan to fix things, and afterwards scans showed a significant improvement. </p>

