---
permalink: /nursejournal/
title: "Nurse Journal"
description: "A WordPress site with everything you might need to know about the different types of nursing degrees, and how to get one."
order: 12
published: true
layout: "portfolio"
image: "/assets/img/portfolio/nj/nj-thumb.jpg"
gallery:
 - img: "/assets/img/portfolio/nj/nj-articles.jpg"
 - img: "/assets/img/portfolio/nj/nj-entry-level.jpg"
 - img: "/assets/img/portfolio/nj/nj-graph.jpg"
 - img: "/assets/img/portfolio/nj/nj-home.jpg"
 - img: "/assets/img/portfolio/nj/nj-salary.jpg"


---

<h2>Website</h2>
<p><a href="https://nursejournal.org/" target="_blank" rel="noopener noreferrer">https://nursejournal.org/</a></p>

<p>Made to provide information on Nursing Degrees, how to get them, and relevant topics.</p>



<h3>About the Tech</h3>

<p>Built on WordPress using a custom theme, and many different plugins to extend functionality. The team also had some special tooling to make their process for pushing updates more automated.</p>



<h3>My Role on this Project</h3>

<p>The site was built on top of a custom solution for deploying WordPress which unfortunately had some troubles when it came time to update to HTTPS. I was able to step in and make some necessary upgrades to get all pages fully compliant. HTTPS is more important than ever now that Google has officially included it as a ranking signal.</p>

<p>I was responsible for general maintenance and otherwise cleaning up the site. During my time I managed to clean out some heavily tied in WordPress plugins that were causing performance issues, and made even more gains by helping unify the tracking systems.</p>

<p>Monetization was another thing I implemented across many targeted pages, working closely with non-technical members to ensure their strategy was met.</p>

