---
permalink: /nursing/
title: "Nursing.org"
description: "In need of some serious updating, Nursing was being brought from WordPress to Jekyll. In addition to the conversion I made it easier to use by setting up custom blocks as a replacement to shortcodes."
order: 7
layout: "portfolio"
image: "/assets/img/portfolio/nursing/nursing-thumb.jpg"
gallery:
 - img: "/assets/img/portfolio/nursing/nursing-home.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-careers.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-data.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-degrees.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-upsell.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-programs.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-scholarships.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-bachelors.jpg"
 - img: "/assets/img/portfolio/nursing/nursing-states.jpg"

---

<h2>Website</h2>
<a href="https://nursing.org/" target="_blank" rel="noopener noreferrer">https://nursing.org/</a>

<p>Made to provide information on Nursing Degrees, how to get them, and relevant topics.</p>


<h3>About the Tech</h3>

<p>Built with <a href="/static-sites/">Jekyll, a static site generator</a>. If you haven't heard, static or "serverless" sites are a relatively new way of building the web using some fancy build tools, with the end result being plain old HTML, CSS, and JavaScript. While this may not sound new or exciting, the benefit it provides is enormous - nothing can offer faster speeds, better security, or more simplicity than serving up static html files.</p>


<h3>My Role in this Project</h3>

<p>The Nursing site with initially built on top of WordPress, but it was decided that an upgrade was in order. I was tasked with making a full conversion to Jekyll. Every page was brought back faster than ever, with all meta data and URLs the exact same so we wouldn't take a single hit to our SEO.</p>

<p>I also completed a full refresh on the home page - starting from a sketch file with a fabulous design, I built out several sections and custom functionality, all done mobile-first. Afterwords I activated A/B testing through Netlify's awesome service!</p>

<p>To make things more user friendly for our content editing team, I created several Liquid blocks to act as a replacement for shortcodes which are WordPress specific. These add in pre-defined snippets of HTML to get neat effects without them actually having to write code.</p>

