
body {

	font-family: "Oxygen";
	background-color: $color-white;
	color: $color-dark;
	font-size: $font-size-text;

	min-height: 100vh;
	min-width: 360px;

	display: flex;
	flex-direction: column;
}


h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
	line-height: 1;
	letter-spacing: 0.5px;
}

h1 {
	font-weight: 400;
	letter-spacing: 2px;
}

h2 {
	padding-top: $tightness;
	font-weight: 400;
	line-height: 1.5;
}

h3 {
	margin-bottom: $tightness / 2;
}



p {
	margin-bottom: $tightness;
	line-height: 1.5;
	//font-family: "Yantramanav";
	font-size: 18px;
	font-weight: 300;
}

a, a:visited {
	color: $color-main;
	font-weight: normal;
	line-height: 1;

}




blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: rgba($color-main, .15);
	border: 0;
	height: $line-size;
	margin-bottom: $tightness;
}

label {
	display: block;
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


textarea {
	min-height: 200px;
}
textarea,
input {
	margin-bottom: $tightness;
}


.page-title {
	font-size: $font-size-title;
	margin: 0;
	padding: 0;
	padding-top: $tightness*4;
}


// Buttons
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	border: none;
	border-radius: $border-radius;
	background: $color-main;
	color: $color-white;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.75px;
	padding: $tightness/2 $tightness;
	font-size: $font-size-text;
	text-decoration: none;

	&:hover,
	&:visited,
	&:active {
		border-color: $color-white;
		color: $color-white;
	}

}


